<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
       <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
 <div class="field">
 <label for="name" class="span7">Untick to opt out of our newsletter</label>
    <input type="checkbox" id="optout" name="optout" checked="checked" value="optout" class="span1">
  </div>
  <div class ="field">
   <%#= show_simple_captcha(:object=>"user") %>
   <%= f.simple_captcha %>
  </div> 
  <div class="actions">
    <%= f.submit 'Submit', :class=>'btn btn-primary', :id=>'submit'%>
  </div>
<% end %>
